<div class="showcase">
    <div class="content-title">
    {{ content }}
    </div>

    {% for button in page.header.buttons %}
        <a class="button {% if button.class %}{{ button.class }}{% endif %}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}
</div>
