@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@-moz-keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

.default-animation, #header, #logo svg, #navbar ul {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.mouse-scroller {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  height: 55px;
  border: 2px solid #666;
  border-radius: 25px; }
  .mouse-scroller:after {
    display: block;
    content: '';
    opacity: 0.75;
    margin-left: 12px;
    margin-top: 10px;
    width: 4px;
    height: 10px;
    border-radius: 25%;
    background-color: #666;
    animation-name: mouse-scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite; }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }

@media screen and (min-width: 1280px) {
  .grid-size {
    width: 1280px; } }

:root {
  font-size: 8px; }

@media (min-width: 400px) and (max-width: 1200px) {
  :root {
    font-size: calc(8px + (11 - 8) * ( (100vw - 400px) / ( 1200 - 400))); } }

@media (min-width: 1200px) {
  :root {
    font-size: 11px; } }

#header.light #logo svg path {
  fill: #fff !important; }

#header.light #navbar ul li.active a {
  color: #fff; }

#header.light #navbar ul li a {
  color: #eee; }
  #header.light #navbar ul li a.active {
    color: #fff; }
  #header.light #navbar ul li a:hover {
    color: #fff; }
  #header.light #navbar ul li a:before {
    background-color: #fff; }

#header.dark #logo svg path {
  fill: #000 !important; }

#header.dark #navbar ul li.active a {
  color: #000; }

#header.dark #navbar ul li a {
  color: #333; }
  #header.dark #navbar ul li a.active {
    color: #000; }
  #header.dark #navbar ul li a:hover {
    color: #000; }
  #header.dark #navbar ul li a:before {
    background-color: #000; }

#header {
  width: 100%;
  top: 0;
  z-index: 2; }
  #header.scrolled {
    background: rgba(35, 34, 45, 0.9); }
    #header.scrolled #logo svg {
      max-width: 100px; }
      #header.scrolled #logo svg path {
        fill: #fff !important; }
    #header.scrolled #navbar ul {
      margin: 0.3rem 0; }
      #header.scrolled #navbar ul li.active a {
        color: #fff; }
      #header.scrolled #navbar ul li a {
        color: #999; }
        #header.scrolled #navbar ul li a.active {
          color: #fff; }
        #header.scrolled #navbar ul li a:hover {
          color: #fff; }
        #header.scrolled #navbar ul li a:before {
          background-color: #fff; }

#body.no-hero {
  padding-top: 5rem; }

#header.fixed + #body.no-hero {
  padding-top: 13rem; }

.content-item {
  background: #ffffff;
  padding: 4.5rem 3rem;
  margin-bottom: 3rem;
  border: 1px solid #efefef; }
  .content-item .e-content > h1 {
    margin-bottom: 3rem; }
  .content-item h1 + h4 {
    margin-top: -1rem;
    margin-bottom: 3rem; }

.content-title {
  margin-bottom: 5rem; }

#item {
  padding: 0 3rem 3rem;
  background: #f7f7f7; }
  #item h1 a, #item h2 a {
    color: #404040; }

#footer {
  background: #23222d;
  padding: 3rem;
  text-align: center;
  color: #888; }
  #footer a {
    color: #ddd; }
    #footer a:hover {
      color: #eee; }
  #footer #to-top {
    height: 50px;
    width: 50px;
    line-height: 45px;
    font-size: 3rem;
    background: #333141; }

#logo {
  padding: 1rem 1rem 1rem 3rem; }
  #logo svg {
    max-width: 180px; }

#navbar {
  padding: 1rem 3rem 1rem 1rem; }
  #navbar ul {
    margin: 1.6rem 0;
    padding: 0;
    list-style: none;
    float: right; }
    #navbar ul li {
      display: inline-block;
      position: relative;
      margin: 0; }
      #navbar ul li.active a {
        color: #8e44ad; }
      #navbar ul li a {
        display: inline-block;
        padding: 0.2rem 2rem;
        font-size: 1.3rem;
        color: #666; }
        #navbar ul li a.active {
          color: #8e44ad; }
        #navbar ul li a:hover {
          color: #8e44ad; }
          #navbar ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(0.75);
            -moz-transform: scaleX(0.75);
            -ms-transform: scaleX(0.75);
            -o-transform: scaleX(0.75);
            transform: scaleX(0.75); }
        #navbar ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #8e44ad;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          transition: all 0.2s ease; }

#mobile-toggle {
  display: none;
  font-size: 3rem; }
  @media (max-width: 840px) {
    #mobile-toggle {
      display: inline-block; } }

div#breadcrumbs {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 5rem;
  height: 5rem;
  padding-left: 3rem; }
  div#breadcrumbs span:first-child:before {
    font-family: FontAwesome;
    content: "\f015";
    padding-right: 10px; }

#hero-header {
  text-align: center;
  position: relative; }
  #hero-header > .container.wrapper {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%); }
  #hero-header.hero-header-fullscreen {
    height: 100vh; }
  #hero-header.hero-header-large {
    height: 500px; }
  #hero-header.hero-header-medium {
    height: 400px;
    padding-top: 3rem; }
  #hero-header.hero-header-small {
    height: 250px;
    padding-top: 6rem; }
  #hero-header.hero-header-tiny {
    height: 8rem; }
  #hero-header #hero-header-image {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }
  #hero-header h1 {
    letter-spacing: -0.15rem;
    margin: 0; }
    #hero-header h1 a {
      color: #404040; }
  #hero-header h4 {
    margin: 0.5rem 0 0; }
  #hero-header .label {
    font-size: 90%;
    padding: 0.2rem .5rem;
    display: inline-block; }
  #hero-header.hero-padding {
    padding-top: 5rem; }
  #hero-header .hero-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%); }
  #hero-header.hero-header-light h1 {
    color: #fff; }
    #hero-header.hero-header-light h1 a {
      color: #fff; }
      #hero-header.hero-header-light h1 a:hover {
        color: #eee; }
    #hero-header.hero-header-light h1 + h4 {
      color: #ddd; }
  #hero-header.hero-header-light time {
    color: #fff;
    font-size: 120%;
    display: block; }
  #hero-header.hero-header-light .tags a {
    background: rgba(255, 255, 255, 0.8);
    color: #404040; }
  #hero-header.hero-header-light .mouse-scroller {
    border-color: #eee; }
    #hero-header.hero-header-light .mouse-scroller:after {
      background-color: #eee; }
  #hero-header.hero-header-dark h1 {
    color: #404040; }
    #hero-header.hero-header-dark h1 a {
      color: #404040; }
      #hero-header.hero-header-dark h1 a:hover {
        color: #595959; }
    #hero-header.hero-header-dark h1 + h4 {
      color: #595959; }
  #hero-header.hero-header-dark time {
    color: #404040;
    font-size: 120%;
    display: block; }
  #hero-header.hero-header-dark .tags a {
    background: #bcbcbc;
    color: white; }
  #hero-header.hero-header-dark .mouse-scroller {
    border-color: #404040; }
    #hero-header.hero-header-dark .mouse-scroller:after {
      background-color: #404040; }

#body-wrapper .blog-item-header, #body-wrapper .blog-item-footer {
  padding: 1.5rem 3rem;
  background: #fafafa; }
  #body-wrapper .blog-item-header time, #body-wrapper .blog-item-footer time {
    color: #404040;
    margin-right: 1rem; }
  #body-wrapper .blog-item-header .label, #body-wrapper .blog-item-footer .label {
    font-size: 90%;
    padding: 0.2rem .5rem;
    display: inline-block; }

#body-wrapper .blog-item-header {
  margin: -4.5rem -3rem 4.5rem;
  border-bottom: 1px solid #efefef; }

#body-wrapper .blog-item-footer {
  margin: 4.5rem -3rem -4.5rem;
  border-top: 1px solid #efefef; }

#body-wrapper #listing-footer {
  text-align: center; }
  #body-wrapper #listing-footer .pagination {
    margin: 0 auto; }
    #body-wrapper #listing-footer .pagination li {
      border-color: #efefef;
      background: #ffffff; }

#body-wrapper #sidebar {
  padding: 6rem 3rem 3rem; }
  #body-wrapper #sidebar h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 0; }
  #body-wrapper #sidebar .sidebar-content {
    margin-bottom: 6rem; }
  #body-wrapper #sidebar .tags .label {
    font-size: 90%;
    padding: 0.2rem .5rem;
    display: inline-block;
    margin-right: -1px;
    margin-bottom: 2px; }
  #body-wrapper #sidebar .archives {
    list-style: none;
    margin-left: 0; }
    #body-wrapper #sidebar .archives .label {
      display: inline-block;
      margin-right: 1rem;
      border-radius: 0.2rem;
      min-width: 2.2rem;
      min-height: 2.2rem;
      font-size: 80%;
      text-align: center;
      font-weight: 600;
      color: #fff;
      background-color: #8e44ad; }
  #body-wrapper #sidebar .related-pages {
    list-style: none;
    margin-left: 0; }
    #body-wrapper #sidebar .related-pages li {
      border-bottom: 1px solid #efefef; }
      #body-wrapper #sidebar .related-pages li .score {
        float: right; }

.type-modular-features .highlights {
  text-align: center; }
  @media (max-width: 840px) {
    .type-modular-features .highlights .column {
      text-align: center; } }
  .type-modular-features .highlights .column h3, .type-modular-features .highlights .column h6 {
    margin-top: 0; }
  .type-modular-features .highlights .icon-wrapper {
    text-align: center;
    height: 70px; }
    .type-modular-features .highlights .icon-wrapper i {
      color: #8e44ad;
      font-size: 50px; }
  .type-modular-features .highlights .style-big .column {
    text-align: left; }
  .type-modular-features .highlights .style-big .icon-wrapper {
    display: inline-block;
    float: left;
    height: 90px;
    width: 150px; }
    .type-modular-features .highlights .style-big .icon-wrapper i {
      font-size: 70px; }
    @media (max-width: 840px) {
      .type-modular-features .highlights .style-big .icon-wrapper {
        float: none;
        display: block;
        width: auto; } }
  .type-modular-features .highlights .style-big .content-wrapper {
    margin-left: 165px;
    padding: 0 1rem; }
    @media (max-width: 840px) {
      .type-modular-features .highlights .style-big .content-wrapper {
        margin-left: 0; } }

.type-modular-text {
  background: #fff; }
  .type-modular-text .content-item {
    border: 0;
    padding-top: 0; }

.modular-item {
  padding: 3rem 0; }
  .modular-item h2 + h4 {
    margin-top: -1rem;
    margin-bottom: 4rem;
    color: #595959; }

/*# sourceMappingURL=../css-compiled/enigma.css.map */