@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@-moz-keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@keyframes slide-down {
  0% {
    margin-top: -3rem;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

.default-animation, #header, #logo svg, #navbar ul {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media screen and (min-width: 1280px) {
  .grid-size {
    width: 1280px; } }

:root {
  font-size: 8px; }

@media (min-width: 400px) and (max-width: 1200px) {
  :root {
    font-size: calc(8px + (11 - 8) * ( (100vw - 400px) / ( 1200 - 400))); } }

@media (min-width: 1200px) {
  :root {
    font-size: 11px; } }

.header-light #logo svg path {
  fill: #fff !important; }

.header-light #navbar ul li.active a {
  color: #fff; }

.header-light #navbar ul li a {
  color: #eee; }
  .header-light #navbar ul li a:hover {
    color: #fff; }
  .header-light #navbar ul li a:before {
    background-color: #fff; }

.header-dark #logo svg path {
  fill: #000 !important; }

.header-dark #navbar ul li.active a {
  color: #000; }

.header-dark #navbar ul li a {
  color: #333; }
  .header-dark #navbar ul li a:hover {
    color: #000; }
  .header-dark #navbar ul li a:before {
    background-color: #000; }

#header {
  width: 100%;
  z-index: 2; }
  #header.scrolled {
    background: rgba(35, 34, 45, 0.9); }
    #header.scrolled #logo svg {
      max-width: 100px; }
      #header.scrolled #logo svg path {
        fill: #fff !important; }
    #header.scrolled #navbar ul {
      margin: 0.3rem 0; }
      #header.scrolled #navbar ul li.active a {
        color: #fff; }
      #header.scrolled #navbar ul li a {
        color: #999; }
        #header.scrolled #navbar ul li a:hover {
          color: #fff; }
        #header.scrolled #navbar ul li a:before {
          background-color: #fff; }

#footer {
  background: #23222d;
  padding: 3rem;
  text-align: center;
  color: #888; }
  #footer a {
    color: #ddd; }
    #footer a:hover {
      color: #eee; }
  #footer #to-top {
    height: 50px;
    width: 50px;
    line-height: 45px;
    font-size: 3rem;
    background: #333141; }

#logo {
  padding: 1rem 1rem 1rem 3rem; }
  #logo svg {
    max-width: 180px; }

#navbar {
  padding: 1rem 3rem 1rem 1rem; }
  #navbar ul {
    margin: 1.6rem 0;
    padding: 0;
    list-style: none;
    float: right; }
    #navbar ul li {
      display: inline-block;
      position: relative;
      margin: 0; }
      #navbar ul li.active a {
        color: #0073B5; }
      #navbar ul li a {
        display: inline-block;
        padding: 0.2rem 2rem;
        font-size: 1.3rem;
        color: #666; }
        #navbar ul li a:hover {
          color: #0073B5; }
          #navbar ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(0.75);
            -moz-transform: scaleX(0.75);
            -ms-transform: scaleX(0.75);
            -o-transform: scaleX(0.75);
            transform: scaleX(0.75); }
        #navbar ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #0073B5;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          transition: all 0.2s ease; }

#mobile-toggle {
  display: none;
  font-size: 3rem; }
  @media (max-width: 840px) {
    #mobile-toggle {
      display: inline-block; } }

div#breadcrumbs {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 5rem;
  height: 5rem;
  padding-left: 3rem; }
  div#breadcrumbs span:first-child:before {
    font-family: FontAwesome;
    content: "\f015";
    padding-right: 10px; }

#hero-header {
  position: relative;
  padding: 20rem 0;
  background-size: cover;
  background-position: center;
  text-align: center; }
  #hero-header h1 {
    font-weight: 600; }
  #hero-header.hero-padding {
    padding-top: 5rem; }
  #hero-header.hero-header-image {
    min-height: 500px; }
    #hero-header.hero-header-image .blog-header-wrapper {
      text-align: left; }
  #hero-header .hero-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%); }
    #hero-header .hero-header-wrapper .container {
      margin-top: 25rem; }
    #hero-header .hero-header-wrapper h1 a {
      color: #fff; }
      #hero-header .hero-header-wrapper h1 a:hover {
        color: #eee; }
    #hero-header .hero-header-wrapper time {
      color: #fff;
      font-size: 120%;
      display: block; }
    #hero-header .hero-header-wrapper .tags a {
      background: #0073B5; }
    #hero-header .hero-header-wrapper .label {
      font-size: 90%;
      padding: 0.2rem .5rem;
      display: inline-block; }

#blog-body {
  background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #ffffff 50%, #ffffff 100%); }
  #blog-body #item, #blog-body #listing {
    padding: 0 3rem 3rem;
    background: #f7f7f7; }
    #blog-body #item .blog-item, #blog-body #listing .blog-item {
      background: #ffffff;
      padding: 3rem 3rem 3rem;
      margin-bottom: 3rem;
      border: 1px solid #efefef; }
      #blog-body #item .blog-item h2, #blog-body #listing .blog-item h2 {
        margin-bottom: 3rem; }
  #blog-body #listing .blog-item-footer {
    margin: 4.5rem -3rem -3rem;
    padding: 1.5rem 3rem;
    background: #fafafa;
    border-top: 1px solid #efefef; }
    #blog-body #listing .blog-item-footer time {
      color: #404040; }
    #blog-body #listing .blog-item-footer .tags {
      margin-left: 1rem; }
    #blog-body #listing .blog-item-footer .label {
      font-size: 90%;
      padding: 0.2rem .5rem;
      display: inline-block; }
  #blog-body #listing-footer {
    text-align: center; }
    #blog-body #listing-footer .pagination {
      margin: 0 auto; }
      #blog-body #listing-footer .pagination li {
        border-color: #efefef;
        background: #ffffff; }
  #blog-body #sidebar {
    padding: 6rem 3rem 3rem;
    background: #ffffff;
    border-left: 1px solid #efefef; }
    #blog-body #sidebar h4 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 1.3rem;
      margin-top: 0; }
    #blog-body #sidebar .sidebar-content {
      margin-bottom: 6rem; }
    #blog-body #sidebar .tags .label {
      font-size: 90%;
      padding: 0.2rem .5rem;
      display: inline-block;
      margin-right: -1px;
      margin-bottom: 2px; }
    #blog-body #sidebar .archives {
      list-style: none;
      margin-left: 0; }
      #blog-body #sidebar .archives .label {
        display: inline-block;
        margin-right: 1rem;
        border-radius: 50%;
        min-width: 2.2rem;
        min-height: 2.2rem;
        font-size: 80%;
        text-align: center;
        font-weight: 600;
        color: #fff;
        background-color: #0073B5; }
    #blog-body #sidebar .related-pages {
      list-style: none;
      margin-left: 0; }
      #blog-body #sidebar .related-pages li {
        border-bottom: 1px solid #efefef; }
        #blog-body #sidebar .related-pages li .score {
          float: right; }

/*# sourceMappingURL=../../../../workspace/grav-skeleton-blog/user/themes/enigma/css-compiled/enigma.css.map */