// Labels
.label {
    background: $core-border-color;
    color: lighten($body-font-color, 20%);
    @include label-base();
    white-space: nowrap;
    &.label-primary {
        @include toast-variant($core-color);
    }
    &.label-secondary {
        background: darken($core-border-color, 20%);
        color: lighten($core-border-color, 20%);
    }
}
