// Large default blog header
#body-wrapper {

    .blog-item-header, .blog-item-footer {
        padding: $content-gutter/2 $content-gutter;
        background: darken($content-background, 2%);

        time {
            color: $body-title-color;
            margin-right: 1rem;
        }

        .label {
            font-size: 90%;
            padding: 0.2rem .5rem;
            display: inline-block;
        }
    }

    .blog-item-header {
        margin: (-$content-gutter*1.5) (-$content-gutter) $content-gutter*1.5;
        border-bottom: 1px solid $core-border-color;
    }

    .blog-item-footer {
        margin: $content-gutter*1.5 (-$content-gutter) (-$content-gutter*1.5);
        border-top: 1px solid $core-border-color;
    }

    #listing-footer {
        text-align: center;

        .pagination {
            margin: 0 auto;

            li {
                border-color: $core-border-color;
                background: $content-background;
            }
        }
    }

    #sidebar {
        padding: $content-gutter*2 $content-gutter $content-gutter ;

        h4 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 1.3rem;
            margin-top: 0;
        }

        .sidebar-content {
            margin-bottom: $content-gutter * 2;
        }

        .tags {
            .label {
                font-size: 90%;
                padding: 0.2rem .5rem;
                display: inline-block;
                margin-right: -1px;
                margin-bottom: 2px;
            }
        }

        .archives {
            list-style: none;
            margin-left: 0;
            .label {
                display: inline-block;
                margin-right: 1rem;
                border-radius: 0.2rem;
                min-width: 2.2rem;
                min-height: 2.2rem;
                font-size: 80%;
                text-align: center;
                font-weight: 600;
                color: #fff;
                background-color: $core-color;
            }
        }

        .related-pages {
            list-style: none;
            margin-left: 0;

            li {
                border-bottom: 1px solid $core-border-color;

                .score {
                    float: right;
                }
            }
        }
    }
}



