// Large default blog header
#hero-header {
    text-align: center;
    position: relative;

    > .container.wrapper {
        @include vertical-align();
    }

    &.hero-header-fullscreen {
        height: 100vh;
    }

    &.hero-header-large {
        height: 700px;
    }

    &.hero-header-medium {
        height: 500px;
    }

    &.hero-header-small {
        height: 250px;
    }

    &.hero-header-tiny {
        height: 8rem;
    }

    #hero-header-image {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    h1 {
        letter-spacing: -0.15rem;
        margin-top: 0;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
    }

    &.hero-padding {
        padding-top: 5rem;
    }


    .hero-header-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);

        & + .container {
            h1 a {
                color: #fff;
                &:hover {
                    color: #eee;
                }
            }

            time {
                color: #fff;
                font-size: 120%;
                display: block;
            }

            .tags {
                a {
                    background: rgba(#fff, 0.8);
                    color: $body-title-color;
                }
            }

            .label {
                font-size: 90%;
                padding: 0.2rem .5rem;
                display: inline-block;
            }


        }
        & ~ #to-start > .mouse-scroller {
            border-color: #eee;
            &:after {
                background-color: #eee;
            }
        }

    }


}


#body-wrapper {
    background: linear-gradient(to right, $body-background 0%, $body-background 50%, $content-background 50%, $content-background 100%);

    #item, #listing {
        padding: 0 $content-gutter $content-gutter;
        background: $body-background;

        .blog-item {
            background: $content-background;
            padding: $content-gutter*1.5 $content-gutter;
            margin-bottom: $content-gutter;
            border: 1px solid $core-border-color;

            h1, h2 {
                margin-bottom: 3rem;
            }
        }
    }

    #item {
        h1 {
            a {
                color: $body-title-color;
            }

        }
    }

    .blog-item-header, .blog-item-footer {
        padding: $content-gutter/2 $content-gutter;
        background: darken($content-background, 2%);

        time {
            color: $body-title-color;
            margin-right: 1rem;
        }

        .label {
            font-size: 90%;
            padding: 0.2rem .5rem;
            display: inline-block;
        }
    }


    .blog-item-header {
        margin: (-$content-gutter*1.5) (-$content-gutter) $content-gutter*1.5;
        border-bottom: 1px solid $core-border-color;


    }


    .blog-item-footer {
        margin: $content-gutter*1.5 (-$content-gutter) (-$content-gutter*1.5);
        border-top: 1px solid $core-border-color;
    }



    #listing-footer {
        text-align: center;

        .pagination {
            margin: 0 auto;

            li {
                border-color: $core-border-color;
                background: $content-background;
            }
        }
    }

    #sidebar {
        padding: $content-gutter*2 $content-gutter $content-gutter ;
        background: $content-background;
        border-left: 1px solid $core-border-color;

        h4 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 1.3rem;
            margin-top: 0;
        }

        .sidebar-content {
            margin-bottom: $content-gutter * 2;
        }

        .tags {
            .label {
                font-size: 90%;
                padding: 0.2rem .5rem;
                display: inline-block;
                margin-right: -1px;
                margin-bottom: 2px;
            }
        }

        .archives {
            list-style: none;
            margin-left: 0;
            .label {
                display: inline-block;
                margin-right: 1rem;
                border-radius: 0.2rem;
                min-width: 2.2rem;
                min-height: 2.2rem;
                font-size: 80%;
                text-align: center;
                font-weight: 600;
                color: #fff;
                background-color: $core-color;
            }
        }

        .related-pages {
            list-style: none;
            margin-left: 0;

            li {
                border-bottom: 1px solid $core-border-color;

                .score {
                    float: right;
                }
            }
        }
    }
}



