#hero-header {
    text-align: center;
    position: relative;
    padding-top: 3rem;

    //&[style*='none'] {
    //    .hero-header-wrapper {
    //        display: none;
    //    }
    //    .container {
    //        h1 {
    //            color: $body-title-color !important;
    //
    //            a {
    //                color:#f00;
    //            }
    //
    //
    //            & + h4 {
    //                color: lighten($body-title-color, 20%) !important;
    //            }
    //        }
    //    }
    //
    //}

    > .container.wrapper {
        @include vertical-align();
    }

    &.hero-header-fullscreen {
        height: 100vh;
    }

    &.hero-header-large {
        height: 500px;
    }

    &.hero-header-medium {
        height: 400px;
    }

    &.hero-header-small {
        height: 250px;
    }

    &.hero-header-tiny {
        height: 8rem;
    }

    #hero-header-image {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    h1 {
        letter-spacing: -0.15rem;
        margin: 0;

        a {
            color: $body-title-color;
        }
    }

    h4 {
        margin: 0.5rem 0 0;
    }

    .label {
        font-size: 90%;
        padding: 0.2rem .5rem;
        display: inline-block;
    }

    &.hero-padding {
        padding-top: 5rem;
    }

    .hero-header-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%);
    }


    &.hero-header-light {

        h1 {
            color: #fff;
            a {
                color: #fff;
                &:hover {
                    color: #eee;
                }
            }

            & + h4 {
                color: #ddd;
            }
        }


        time {
            color: #fff;
            font-size: 120%;
            display: block;
        }

        .tags {
            a {
                background: rgba(#fff, 0.8);
                color: $body-title-color;
            }
        }

        .mouse-scroller {
            border-color: #eee;
            &:after {
                background-color: #eee;
            }
        }
    }

    &.hero-header-dark {

        h1 {
            color: $body-title-color;
            a {
                color: $body-title-color;
                &:hover {
                    color: lighten($body-title-color, 10%);
                }
            }

            & + h4 {
                color: lighten($body-title-color, 10%);
            }
        }


        time {
            color: $body-title-color;
            font-size: 120%;
            display: block;
        }

        .tags {
            a {
                background: darken($core-border-color, 20%);
                color: lighten($core-border-color, 20%);
            }
        }

        .mouse-scroller {
            border-color: $body-title-color;
            &:after {
                background-color: $body-title-color;
            }
        }
    }


}
