{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block hero_content %}
    {{ page.content }}
{% endblock %}

{% block content %}

    {% embed 'partials/blog/layout.html.twig' with {blog: page} %}
        {% block item %}
            {% for child in collection %}
                {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
            {% endfor %}

            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                <div id="listing-footer">
                    {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}



