{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set blog_image = page.media.images[theme.hero_header.image] %}

{% block body %}
<section id="body">

    <div id="hero-header" class="hero-header-{{ theme.hero_header.size }}">
        <img id="hero-header-image" src="{{ blog_image.url }}" />
        <div class="container wrapper grid-size">
            {{ page.content }}
        </div>
        {% if theme.hero_header.size == 'fullscreen' %}
            <div class="mouse-scroller"></div>
        {% endif %}
    </div>

    <div id="blog-body">
        <div class="container wrapper grid-size">
            <div class="columns">
                <div id="listing" class="column col-8 col-md-12">
                    {% if config.plugins.breadcrumbs.enabled %}
                        {% include 'partials/breadcrumbs.html.twig' %}
                    {% endif %}

                    {% for child in collection %}
                        {% include 'partials/blog-list-item.html.twig' with {'blog':page, 'page':child} %}
                    {% endfor %}

                    {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                    </div>
                    {% endif %}
                </div>
                <div id="sidebar" class="column col-4 col-md-12">
                    {% include 'partials/sidebar.html.twig' with {'blog':page} %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



