{% extends 'partials/base.html.twig' %}


{% block body %}
<section id="body">

    {% embed 'partials/hero-header.html.twig' %}
        {% block hero_content %}
            {% include 'partials/blog/title.html.twig' with {title_level: 'h1'} %}
            {% if theme.hero_header.date %}
                {% include 'partials/blog/date.html.twig' %}
            {% endif %}
            {% if theme.hero_header.taxonomy %}
                {% include 'partials/blog/taxonomy.html.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    <div id="body-wrapper">
        <div class="container wrapper grid-size">
           <div class="columns">
                <div id="item" class="column col-8 col-md-12">
                    {% if config.plugins.breadcrumbs.enabled %}
                        {% include 'partials/breadcrumbs.html.twig' %}
                    {% endif %}
                    {% include 'partials/blog-item.html.twig' with {'blog':page.parent, 'truncate':false} %}
                </div>
                <div id="sidebar" class="column col-4 col-md-12">
                    {% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
